<app-modal extraClasses="flex justify-center items-center">
  <main
    class="flex h-[80vh] max-h-[800px] w-[80vw] max-w-[1000px] flex-col overflow-hidden rounded-xl bg-white text-gray-900"
  >
    <div class="bg-gray-500 text-right">
      <form method="dialog">
        <button class="px-5 py-2">
          <fa-icon [icon]="faXmark" class="text-xl text-white"></fa-icon>
        </button>
      </form>
    </div>
    <div
      class="flex grow flex-wrap overflow-y-auto"
      style="scrollbar-width: none"
    >
      <article class="min-w-64 grow basis-[60%] p-5">
        <div *ngIf="card">
          <h2 class="flex items-center justify-between">
            <span class="text-xl font-bold md:text-2xl">
              {{ card.name }}
            </span>
            <button
              routerLink="/cards/{{ card.id }}/edit"
              class="rounded-md border border-gray-300 px-1.5 py-0.5 text-xs md:px-3 md:py-1 md:text-sm"
            >
              <fa-icon [icon]="faPenToSquare"></fa-icon>
              Edit
            </button>
          </h2>
          <ul class="py-2 text-xs *:py-1 md:text-sm md:*:py-2">
            <li>
              <span class="inline-block w-1/3 max-w-32 text-gray-500">
                <fa-icon [icon]="faListUl" class="mr-1"></fa-icon>
                List
              </span>
              <select
                class="rounded-md border border-gray-300 bg-gray-100 py-0.5 pl-1 pr-2 outline outline-white"
                (change)="onMoveToSelect(select.value)"
                #select
              >
                <option
                  *ngFor="let list of lists$ | async; trackBy: listTrackBy"
                  [value]="list.id"
                  [selected]="list.id === card.listId"
                >
                  {{ list.name }}
                </option>
              </select>
            </li>
            <li>
              <span class="inline-block w-1/3 max-w-32 text-gray-500">
                <fa-icon [icon]="faCalendar" class="mr-1"></fa-icon>
                Due date </span
              ><span class="inline-block">
                {{ card.dueDate | date: "ccc, d MMMM" }}
              </span>
            </li>
            <li>
              <span class="inline-block w-1/3 max-w-32 text-gray-500">
                <fa-icon [icon]="faTag" class="mr-1"></fa-icon>
                Priority </span
              ><span class="inline-block">{{ card.priority }}</span>
            </li>
          </ul>
          <h3 class="py-1.5 text-lg font-bold md:py-3 md:text-xl">
            Description
          </h3>
          <p class="text-xs text-gray-500 md:text-sm">
            {{ card.description }}
          </p>
        </div>
      </article>
      <aside class="grow basis-[40%] bg-gray-100 p-5">
        <h2 class="pt-1 text-lg font-bold md:text-xl">Activity</h2>
        <app-card-change
          *ngFor="let cardChange of changes$ | async"
          [cardChange]="cardChangesFormatter.getFormattedChange(cardChange)"
        >
        </app-card-change>
      </aside>
    </div>
  </main>
</app-modal>
