<article
  class="flex py-4 text-sm text-gray-500"
  *ngIf="cardChange.changes.length > 0"
>
  <p class="mr-2">&bullet;</p>
  <div class="grow">
    <p>
      <span>You</span>
      @for (
        cardChangeItem of cardChange.changes;
        track cardChangeItem.changeType;
        let i = $index
      ) {
        @switch (cardChangeItem.changeType) {
          @case ("CardRenamed") {
            <span>
              renamed
              <app-card-name [text]="cardChangeItem.from"></app-card-name>
              to
              <app-card-name [text]="cardChangeItem.to"></app-card-name
            ></span>
          }
          @case ("CardCreated") {
            <span>
              added
              <app-card-name [text]="cardChangeItem.name"></app-card-name>
              to
              <span class="font-medium">{{
                cardChangeItem.listName
              }}</span></span
            >
          }
          @case ("CardDeleted") {
            <span>
              deleted
              <app-card-name [text]="cardChangeItem.name"></app-card-name>
              from
              <span class="font-medium">{{
                cardChangeItem.listName
              }}</span></span
            >
          }
          @case ("CardMoved") {
            <span>
              moved
              <app-card-name
                [text]="cardChangeItem.name ?? 'it'"
              ></app-card-name>
              from <span class="font-medium">{{ cardChangeItem.from }}</span> to
              <span class="font-medium">{{ cardChangeItem.to }}</span></span
            >
          }
          @case ("CardUpdated") {
            <span>
              changed
              @if (cardChangeItem.name) {
                the {{ cardChangeItem.fieldName }} of
                <app-card-name [text]="cardChangeItem.name"></app-card-name>
              } @else {
                it's {{ cardChangeItem.fieldName }}
              }
            </span>
            @if (cardChangeItem.from) {
              <span>
                from
                <span class="font-medium">{{ cardChangeItem.from }}</span> to
                <span class="font-medium">{{ cardChangeItem.to }}</span></span
              >
            }
          }
        }
        @if (i < cardChange.changes.length - 2) {
          <span>,</span>
        } @else if (i === cardChange.changes.length - 2) {
          and
        }
      }
    </p>
    <p class="mt-1 italic">
      {{ cardChange.updatedAt | date: "MMM d 'at' hh:mm a" }}
    </p>
  </div>
</article>
